
body{
  margin: 0px;
  padding: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/* first-section */
section#header{
  text-align: center;
  color: #bbbbbb;
  background-color: #087b81;;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


/* second-section */
section#del-form{
  padding-top: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

section#del-form .del{
  padding: 20px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #e9e9e9;
  padding-top: 50px; 
  

}

h4{
  padding: 0px !important;
  margin: 0px !important;
  color: #087b81;
 
  
}

section#del-form .del  input{
  /* min-width: 300px !important; */
  padding: 10px;
  outline-color: #bbbbbb;
  border:1px solid  #04594c;
  color:    #087b81;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section#del-form .del input ::placeholder{
  color: #bbbbbb;
  border: rounded;
  border-radius: 2px;
}

section#del-form .del > div{
  margin-bottom: 20px;
}

.d-flex{
  display: flex;
  justify-content: space-around;
} 
.d-flex-between{
  display: flex;
  justify-content: space-between;
}

.text-center{
  text-align: center;
}

button{
  padding: 10px 30px;
  background-color:black;
  border: rounded;
  border-radius: 2px;
  color: #bbbbbb;
  font-weight: bolder;
}

/* third-section table */
section#del-table .del{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding: 20px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #087b81;;
  color: #fff;
  flex-direction: column; 
}

.btn, .clear{
  background-color: black;
  color: white;
  border: rounded;
  border-radius: 2px;
  cursor: pointer;

}

.clear, .print{
  padding: 10px 20px;
  font-size: 11px;
  cursor: pointer;
}
.print{
  background-color: #bbbbbb;
  color: #0a043c;
  cursor: pointer;
}
.font-weight-bold{
  font-weight: 900;
}

